{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnePy | Вход </title>
    <link rel="stylesheet" href="{% static 'css/style_register.css' %}">
    <script defer src="{% static 'js/script.js' %}"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
            <h1 class="form-title">
                Сброс пароля
            </h1>
            <p1 class="note_1">
                Мы отправили Вам по электронной почте инструкции по установке пароля. <p></p>
            </p1>

            <p2 class="note_1">
                Если Вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели адрес, на который зарегистрировались.
            </p2>
            
        </div>
    </main>
</body>
</html>