{{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <style>
      textarea[is="highlighted-code"] { padding: 18px; width:1200px; }
      .vertical-menu {
        width: 200px;
      }

      .vertical-menu a {
        background-color: #4989bb;
        color: #d6d6d6;
        display: block;
        padding: 12px;
        text-decoration: none;
      }

      .vertical-menu a:hover {
        background-color: #fa9c2a;
      }

      .vertical-menu a.active {
        background-color: #072c49;
        color: white;
      }
      #wrapper {
	      max-width: 1250px;
	      margin-right: auto;
          padding-bottom: 10px;
      }
      section {
	      margin-left: 280px;
	      padding-bottom: 50px;
      }
      blockquote {
	      margin: 0;
	      background: #d6d6d6;
	      padding: 10px 20px;
	      font-family: 'Work Sans', sans-serif;
	      font-weight: 300;
      }

      blockquote p {
	      color: #072c49;
	      font-size: 25px;
	      margin: 0;
      }

      aside {
	      float: left;
	      width: 250px;
      }
      span {
        font-weight: bolder;
      }
      .prokrutka {
        height: 200px;
        width: 420px;
        background: #d6d6d6;
        border: 1px solid #d6d6d6;
        overflow-x: scroll;
        overflow-y: scroll;
      }




    </style>
{% endblock %}

{% block main %}
    <main>
    <div style="display: none" id="jsonData">{{ task_selected }}</div>
    <div id="wrapper">
      <aside class="aside">
        <div class="aside__container">
          <div class="aside__navigation">
            <nav class="aside__menu menu">
              <div class="vertical-menu">
                {% for i in tasks %}
                 {% if i.answer == 1 %}
                    {% if i.task.pk == task_selected %}
                      <a class="selected" style="color: #55A942">Задача {{i.task.pk}}</a>
                    {% else %}
                      <a href="{{ i.task.get_absolute_url }}" class="active" style="color: #55A942">Задача {{ i.task.pk }}</a>
                    {% endif %}
                 {% elif i.answer == 0 %}
                    {% if i.task.pk == task_selected %}
                      <a class="selected" style="color: #c02626">Задача {{i.task.pk}}</a>
                    {% else %}
                      <a href="{{ i.task.get_absolute_url }}" class="active" style="color: #c02626">Задача {{ i.task.pk }}</a>
                    {% endif %}
                 {% elif i.answer == 3 %}
                    {% if i.task.pk == task_selected %}
                      <a class="selected">Задача {{i.task.pk}}</a>
                    {% else %}
                      <a href="{{ i.task.get_absolute_url }}" class="active">Задача {{ i.task.pk }}</a>
                    {% endif %}
                 {% endif %}
                {% endfor %}
              </div>
            </nav>
          </div>
        </div>
      </aside>
      <section>
        <blockquote>
          <p>
            {{ date_task.description }}
          </p>
        </blockquote>
        <div class="container overflow-hidden text-center">
          <div class="row gx-5">
            <div class="col">
              <div class="prokrutka">
                {% if date_task.login_data_int %}
                  <p1>Входные данные</p1>
                  {% for i in date_task.login_data_int %}
                    <p>{{ i }}</p>
                  {% endfor %}
                {% elif date_task.login_data_float %}
                  <p1>Входные данные</p1>
                  {% for i in date_task.login_data_float %}
                    <p>{{ i }}</p>
                  {% endfor %}
                {% else %}
                  <p1>Входные данные</p1>
                  {% for i in date_task.login_data_str %}
                    <p>{{ i }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="col">
              <div class="prokrutka">
                {% if date_task.answer_int %}
                  <p1>РЕЗУЛЬТАТ</p1>
                  {% for i in date_task.answer_int %}
                    <p>{{ i }}</p>
                  {% endfor %}
                {% elif date_task.answer_float %}
                  <p1>Входные данные</p1>
                  {% for i in date_task.answer_float %}
                    <p>{{ i }}</p>
                  {% endfor %}
                {% else %}
                  <p1>Входные данные</p1>
                  {% for i in date_task.answer_str %}
                    <p>{{ i }}</p>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <form id="form">
          <div class="container overflow-hidden">
            <textarea is="highlighted-code" cols="80" rows="12" language="Python" tab-size="2" auto-height ></textarea>
            <button class="btn btn-primary" onclick="myFunction()">Отправить</button>
          </div>
        </form>

      </section>
    </div>
  </main>
    <script>
    // function download(filename, text) {
    //   var pom = document.createElement('a');
    //   pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    //   pom.setAttribute('download', filename);
    //
    //   if (document.createEvent) {
    //       var event = document.createEvent('MouseEvents');
    //       event.initEvent('click', true, true);
    //       pom.dispatchEvent(event);
    //   }
    //   else {
    //       pom.click();
    //   }
    // }

    function myFunction() {
      let code =  $('.hljs').text();

      const id_task = document.getElementById('jsonData');
      const form = document.getElementById('form')

      form.addEventListener('submit', function (e){
        e.preventDefault();

        localStorage.setItem('code', code);
        localStorage.setItem('id_task', id_task.textContent);
        window.location.href = "http://127.0.0.1:8000/task/"+ id_task.textContent + "/answer/";
      })

    //  // download("code.txt", code)
    }
  </script>

  <script type="module">
  (async ({chrome, netscape}) => {

    // add Safari polyfill if needed
    if (!chrome && !netscape)
      await import('https://unpkg.com/@ungap/custom-elements');


    const {default: HighlightedCode} =
      await import('https://unpkg.com/highlighted-code');


    // bootstrap a theme through one of these names
    // https://github.com/highlightjs/highlight.js/tree/main/src/styles
    HighlightedCode.useTheme('nord');
  })(self);
  </script>

{% endblock %}
