{{% extends "base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
            body {
                margin: 0;
                background: #F4F1F8;
            }
            table {
                border-collapse: collapse;
                line-height: 1.1;
                font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                background:  radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
                color: #0C213B;
                margin-bottom: 100px;
                width: 1600px;
                height: clamp(6.25rem, -0.568rem + 34.09vw, 25rem);
                margin: auto;

            }

            th {
                padding: 10px;
                border: 1px solid #A9E2CC;
                font-size: 20px;
                text-align: center;
            }
            td {
                font-size: 1.5em;
                padding: 5px 7px;
                border: 1px solid #A9E2CC;
                text-align: center;
            }
            .nav {
                text-align: center;
                margin-left: 600px;
                padding-bottom: 50px;

            }
            .nav_fio {
                text-align: center;
                margin-left: 220px;
                font-size: 30px;
                margin-right: 220px;
                padding-bottom: 50px;

            }
            section {
                padding-top: 30px;
                padding-bottom: 120px;
                padding-left: 220px;
                padding-right: 220px;

            }


        </style>
{% endblock %}

{% block main %}
    <main class="page">
        <div class="nav_fio">
            <div class="card">
                <div class="card-body">
                    {{ request.user.last_name }} {{ request.user.first_name }} {{ request.user.patronymic }}
                </div>
            </div>
        </div>

        <section>
            <div class="row">
                <div class="d-grid gap-2">
                    <a class="btn btn-outline-info" href="{% url 'Tasks' %}" role="button">Задачи</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
