{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
<!--    js/script.js-->
    <script defer src="{% static 'js/script.js' %}"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% block head %}

    {% endblock %}
</head>
<body>
    <header class="header">
        <div class="header__container">
            <a href="{% url 'home' %}" class="header__logo"><img src="{% static 'img/mkmt.png' %}"  alt=" " /></a>
            <div class="header__navigation">
                <nav class="header__menu menu">
                    <ul class="menu__body">
                        <li class="menu__item"><a href="{% url 'home' %}" class="menu__link">Главная страница</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="menu__item"><a href="{% url 'controls' %}" class="menu__link">Контрольные</a></li>
                        {% endif %}
                        <li class="menu__item"><a href="{% url 'tasks' %}" class="menu__link">Задачи</a></li>
                    </ul>
                </nav>

				{% if request.user.is_authenticated %}
                    <div class="header__buttons">
                        <a href="{% url 'personal_area' %}" class="header__avatar"></a>
                        <a href="{% url 'logout' %}" class="register header__btn">Выйти</a>
                    </div>
                {% else %}
                    <div class="header__buttons">
                        <a href="{% url 'authorization' %}" class="register header__btn">Войти</a>
                        <a href="{% url 'registration' %}" class="login header__btn">Зарегистрироваться</a>
                    </div>
                {% endif %}

                <div class="menu-icon">
					<span></span><span></span><span></span>
				</div>
            </div>
        </div>
    </header>

    {% block main %}

    {% endblock %}

    <footer class="footer">
		<div class="footer__main">
			<div class='main-footer__container'>
				<div class="footer__block">
					<a href="{% url 'home' %}" class="footer__link">
						<img src="{% static 'img/mkmt.png' %}" weight="60px" height="60px"  alt=" " />
					</a>
					<div class="footer__text text">EnePy - учебный ресурс для изучения языка программирования Python</div>
				</div>
				<div class="footer__block links-footer">
					<div class="links-footer__header">О нас</div>
					<ul class="links-footer__list">
<!--                        добавить ссылки -->
						<li class="links-footer__item"><a href="" class="links-footer__link text">Соц сети</a></li>
						<li class="links-footer__item"><a href="" class="links-footer__link text">текст</a></li>
						<li class="links-footer__item"><a href="" class="links-footer__link text">текст</a></li>
						<li class="links-footer__item"><a href="" class="links-footer__link text">текст</a></li>
					</ul>
				</div>

			</div>
		</div>
		<div class="footer__copyright">
			<div class='copyright__container'>
				<span class="text">© Оформление сайта. 2022</span>
				<span class="text">текст</span>
			</div>
		</div>
	</footer>
</body>

</html>